BraveSoftware
Android Open Source Project
libreoffice
pavucontrol.ini
rofi
.android
Code - OSS
Google
configstore
dconf
fontforge
gh
go
google-chrome
gtk-4.0
kde.org
session
systemd
wezterm
xsettingsd
dolphinrc
mimeapps.list
pulse
